<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:include="fragments/header :: showCount(count=${notifications},request=${request})"></th:block>
<body>
<div class=" bg-radio-ads bg-cover bg-center h-screen">

    <div class="animated fadeIn bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5] h-full">

        <div class="flex flex-col pt-4">
            <div class="flex flex-row justify-between pl-2">
                <div class="breadcrumbs">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li class="active">Configurations</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex pr-4">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${username}"> username</span>
                            <img class="w-8 h-8 rounded-full" src="images/user.png" alt="User Avatar">
                        </a>
                    </div>


                </div>
            </div>

            <main class="p-4 grid grid-cols-1 md:grid-cols-2  gap-4">
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-building"></i>
                            <a class="btn btn-primary" th:href="@{/config/roles}"/> Manage Roles</a>
                        </div>


                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1"
                             style="width: 40%; height: 5px;"></div>
                    </div>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="fa fa-bank"></i>
                            <a class="btn btn-primary" th:href="@{/config/payment-types/list}"/> Payment Types</a>
                        </div>


                        <div class="progress progress-xs mt-3 mb-0 bg-flat-color-1"
                             style="width: 40%; height: 5px;"></div>
                    </div>
                </div>


            </main>
        </div>
    </div>


</div>
<div th:include="fragments/footer"></div>
</body>
</html>