<html lang='en' xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:include="fragments/header :: showCount(count=${notifications},request=${request})"></th:block>
<body>
<script th:inline="javascript">

    document.addEventListener('DOMContentLoaded', function() {
        const resources = /*[[${shows}]]*/ "";
        const events = /*[[${adverts}]]*/ "";
        console.log(resources);
        console.log(events);
        console.log("===============")
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            // schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            // initialView: 'resourceTimelineWeek'
            timeZone: 'UTC',
            initialView: 'resourceTimelineDay',
            aspectRatio: 1.5,
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'resourceTimelineDay,resourceTimelineWeek,resourceTimelineMonth'
            },
            editable: true,
            resourceAreaHeaderContent: 'Shows',
            resources: resources,
            events: events
        });
        calendar.render();
    });

</script>
<div class=" bg-radio-ads bg-cover bg-center">
    <div class="animated fadeIn bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5] h-full">
        <div class="flex flex-col pt-4 px-8">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row space-x-4">
                    <div class="breadcrumbs">

                        <div class="page-header float-left">
                            <div class="page-title">
                                <div class=" mt-2">
                                    <a class="btn btn-primary rounded " th:href="@{/schedule/add}">Add</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="flex  flex-row space-x-6 mt-2">
                    <a th:href="@{/notifications}">
                        <div class="relative w-fit mt-1">
                            <div class="absolute bottom-auto left-auto right-0 top-0 z-10 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 whitespace-nowrap rounded-full bg-red-500  p-1 text-center align-baseline text-xs font-bold leading-none text-white" th:if="${notifications}"
                                 th:text="${notifications}">
                            </div>
                            <!--                    <a th:href="@{/notifications}"> <span class="menu-icon mdi mdi-bell"></span></a>-->
                            <div
                                    class=" p-1 rounded-lg bg-indigo-500  text-center text-white shadow-lg dark:text-gray-200">
                                <svg
                                        class="h-4 w-4 text-white"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            clip-rule="evenodd"
                                            d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z"
                                            fill-rule="evenodd"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    <div class="flex  flex-row pr-8">
                        <div class="user-area dropdown  float-right">
                            <div aria-expanded="false" aria-haspopup="true"
                                 class="dropdown-toggle flex flex-col justify-center place-content-center items-center"
                                 data-toggle="dropdown"
                                 href="#" id="dropdownMenuButton">
                                <img alt="User Avatar" class="w-8 h-8 rounded-full" src="/images/user.png">
                                <span sec:authentication="name" class="text-white text-xs"></span>
                            </div>
                            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-left">
                                <a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" th:href="@{/config}">settings</a>
                                <a class="dropdown-item" th:href="@{/logout}">logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="mx-2.5 bg-white">
        <div id='calendar' ></div>
        </div>
    </div>
</div>

</body>
<div th:include="fragments/footer"></div>

</html>