<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:include="fragments/header :: showCount(count=${notifications},request=${request})"></th:block>

<div class=" bg-radio-ads bg-cover bg-center min-h-screen">
    <div class="animated fadeIn bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5] h-full">
        <div class="flex flex-col pt-4 px-8">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row space-x-4">
                    <div class="breadcrumbs">

                        <div class="page-header float-left">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li class="active">Clients</li>
                                </ol>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="flex  flex-row space-x-6">
                    <a th:href="@{/notifications}">
                        <div class="relative w-fit mt-1">
                            <div class="absolute bottom-auto left-auto right-0 top-0 z-10 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 whitespace-nowrap rounded-full bg-red-500  p-1 text-center align-baseline text-xs font-bold leading-none text-white" th:if="${notifications}"
                                 th:text="${notifications}">
                            </div>
                            <!--                    <a th:href="@{/notifications}"> <span class="menu-icon mdi mdi-bell"></span></a>-->
                            <div
                                    class=" p-1 rounded-lg bg-indigo-500  text-center text-white shadow-lg dark:text-gray-200">
                                <svg
                                        class="h-4 w-4 text-white"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            clip-rule="evenodd"
                                            d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z"
                                            fill-rule="evenodd"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    <div class="flex  flex-row pr-8">
                        <div class="user-area dropdown  float-right">
                            <div aria-expanded="false" aria-haspopup="true"
                                 class="dropdown-toggle flex flex-col justify-center place-content-center items-center"
                                 data-toggle="dropdown"
                                 href="#" id="dropdownMenuButton">
                                <img alt="User Avatar" class="w-8 h-8 rounded-full" src="/images/user.png">
                                <span sec:authentication="name" class="text-white text-xs"></span>
                            </div>
                            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-left">
                                <a class="dropdown-item" th:href="@{/config}">settings</a>
                                <a class="dropdown-item" th:href="@{/logout}">logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center place-content-center ">
                <div class="col-lg-8 bg-white p-4 rounded-lg shadow-md my-8">
                    <div class="card">
                        <div class="card-header bg-white text-center"><strong>Add Client</strong>

                        </div>
                        <div class="card-body card-block">


                            <form autocomplete="off" class="sky-form" method="post" role="form"
                                  th:action="@{/clients/save}" th:object="${client}">
                                <input th:field="*{id}" type="hidden"/>


                                <div class="form-group">
                                    <label>Select Title</label>
                                    <select class="form-control" required="required" th:field="*{title}">
                                        <option value="">----Select----</option>
                                        <option
                                                th:value="Mr"
                                        >
                                            Mr
                                        </option>
                                        <option
                                                th:value="Mrs"
                                        >
                                            Mrs
                                        </option>
                                        <option
                                                th:value="Miss"
                                        >
                                            Miss
                                        </option>
                                        <option
                                                th:value="Dr"
                                        >
                                            Dr
                                        </option>
                                        <option
                                                th:value="Prof"
                                        >
                                            Prof
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                                    <label class="control-label" for="firstName">First name</label> <input
                                        class="form-control" id="firstName" required="" th:field="*{firstName}"/>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('firstName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                                    <label class="control-label" for="lastName">Last name</label> <input
                                        class="form-control" id="lastName" required="" th:field="*{lastName}"/>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('lastName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <label class="control-label" for="email">Email</label> <input
                                        class="form-control" id="email" required="" th:field="*{email}"/>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                                        error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error':''">
                                    <label class="control-label" for="phoneNumber">PhoneNumber</label> <input
                                        class="form-control" id="phoneNumber" required="" th:field="*{phoneNumber}"/>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}">Validation
                                        error</p>
                                </div>

                                <div class="form-group">
                                    <label>Select Gender</label>
                                    <select class="form-control" required="required" th:field="*{gender}">
                                        <option value="">----Select----</option>
                                        <option th:each="gender : ${genderList}"
                                                th:text="${gender.name}"
                                                th:value="${{gender}}">
                                        </option>
                                    </select>
                                </div>

                                <!--                            <div class="form-group"-->
                                <!--                                 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">-->
                                <!--                                <label for="password" class="control-label">Password-->
                                <!--                                    </label> <input id="password" class="form-control"-->
                                <!--                                                          required=""             th:field="*{password}"/>-->
                                <!--                                <p class="error-message"-->
                                <!--                                   th:each="error : ${#fields.errors('password')}"-->
                                <!--                                   th:text="${error}">Validation error</p>-->
                                <!--                            </div>-->


                                <!--                            <div class="form-group">-->
                                <!--                                <label>Supporting Documents</label>-->
                                <!--                                <select class="form-control" required="required" th:field="*{coverage}">-->
                                <!--                                    <option value="">&#45;&#45;&#45;&#45;Select&#45;&#45;&#45;&#45;</option>-->
                                <!--                                    <option th:each="coverage : ${levels}"-->
                                <!--                                            th:value="${{coverage}}"-->
                                <!--                                            th:text="${coverage.name}">-->
                                <!--                                    </option>-->
                                <!--                                </select>-->
                                <!--                            </div>-->


                                <div class="card-footer flex flex-row justify-center space-x-4 bg-white">
                                    <button class="btn btn-primary btn-sm rounded" type="submit">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button class="btn btn-danger btn-sm rounded" type="reset">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>

                            </form>
                            <!--                        <span th:utext="${successMessage}"> </span>-->

                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<div th:include="fragments/footer"></div>
</html>
