<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">



            <div class="col-md-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header"><strong>Client</strong>
                        <small> Form</small>
                    </div>
                    <div class="card-body card-block">


                        <form autocomplete="off" class="sky-form" th:object="${client}" method="post"
                              th:action="@{/clients/save}" role="form">
                            <input type="hidden" th:field="*{id}"/>




                            <div class="form-group">
                                <label>Select Title</label>
                                <select class="form-control" required="required" th:field="*{title}">
                                    <option value="">----Select----</option>
                                    <option
                                            th:value="Mr"
                                            >
                                        Mr
                                    </option>
                                    <option
                                            th:value="Mrs"
                                    >
                                        Mrs
                                    </option>
                                    <option
                                            th:value="Miss"
                                    >
                                        Miss
                                    </option>
                                    <option
                                            th:value="Dr"
                                    >
                                        Dr
                                    </option>
                                    <option
                                            th:value="Prof"
                                    >
                                        Prof
                                    </option>
                                </select>
                            </div>

                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                                <label for="firstName" class="control-label">First name</label> <input
                                    required=""  id="firstName" class="form-control" th:field="*{firstName}"/>
                                <p class="error-message"
                                   th:each="error: ${#fields.errors('firstName')}"
                                   th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                                <label for="lastName" class="control-label">Last name</label> <input
                                    required=""   id="lastName" class="form-control" th:field="*{lastName}"/>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('lastName')}"
                                   th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                <label for="email" class="control-label">Email</label> <input
                                    required=""   id="email" class="form-control" th:field="*{email}"/>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error':''">
                                <label for="phoneNumber" class="control-label">PhoneNumber</label> <input
                                    required=""   id="phoneNumber" class="form-control" th:field="*{phoneNumber}"/>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}">Validation
                                    error</p>
                            </div>

                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('idNumber')}? 'has-error':''">
                                <label for="phoneNumber" class="control-label">ID Number</label> <input
                                    required=""   id="idNumber" class="form-control" th:field="*{idNumber}"/>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('idNumber')}" th:text="${error}">Validation
                                    error</p>
                            </div>

                            <div class="form-group">
                                <label>Select Gender</label>
                                <select class="form-control" required="required" th:field="*{gender}">
                                    <option value="">----Select----</option>
                                    <option th:each="gender : ${genderList}"
                                            th:value="${{gender}}"
                                            th:text="${gender.name}">
                                    </option>
                                </select>
                            </div>

<!--                            <div class="form-group"-->
<!--                                 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">-->
<!--                                <label for="password" class="control-label">Password-->
<!--                                    </label> <input id="password" class="form-control"-->
<!--                                                          required=""             th:field="*{password}"/>-->
<!--                                <p class="error-message"-->
<!--                                   th:each="error : ${#fields.errors('password')}"-->
<!--                                   th:text="${error}">Validation error</p>-->
<!--                            </div>-->



                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('dateOfBirth')}? 'has-error':''">
                                <label for="dateOfBirth" class="control-label">Enter date of birth:
                                </label> <input id="dateOfBirth" class="form-control"
                                                required=""            type="date" th:field="*{dateOfBirth}"/>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('dateOfBirth')}"
                                   th:text="${error}">Validation error</p>
                            </div>



<!--                            <div class="form-group">-->
<!--                                <label>Supporting Documents</label>-->
<!--                                <select class="form-control" required="required" th:field="*{coverage}">-->
<!--                                    <option value="">&#45;&#45;&#45;&#45;Select&#45;&#45;&#45;&#45;</option>-->
<!--                                    <option th:each="coverage : ${levels}"-->
<!--                                            th:value="${{coverage}}"-->
<!--                                            th:text="${coverage.name}">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </div>-->







                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>

                        </form>
<!--                        <span th:utext="${successMessage}"> </span>-->

                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>
</div>
<div th:include="fragments/footer"></div>
</html>
