<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<th:block th:include="fragments/header :: showCount(count=${notifications},request=${request})"></th:block>

<body>
<div class=" bg-radio-ads bg-cover bg-center h-screen">

    <div class="animated fadeIn bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5] h-full">

        <div class="flex flex-col pt-4 px-8">

            <div class="flex flex-row justify-between">
                <div class="flex flex-row">
                    <div class="breadcrumbs">
                        <div class="col-sm-4">
                            <div class="page-header float-left">
                                <div class="page-title">
                                    <ol class="breadcrumb text-right">
                                        <li class="active">Clients</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <a class="btn btn-primary rounded " th:href="@{/clients/add}">Add</a>
                    </div>
                </div>
                <div class="flex flex-row pr-4">
                    <div class="user-area dropdown  float-right">
                        <div aria-expanded="false" aria-haspopup="true"
                             class="dropdown-toggle flex flex-col justify-center place-content-center items-center"
                             data-toggle="dropdown"
                             href="#" id="dropdownMenuButton">
                            <img alt="User Avatar" class="w-8 h-8 rounded-full" src="/images/user.png">
                            <span th:text="${username}"></span>
                        </div>
                        <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-left">
                            <a class="dropdown-item" th:href="@{/config}">settings</a>
                            <a class="dropdown-item" th:href="@{/logout}">logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped  p-4 w-full" id="clientListTable"
                   style="background-color: rgb(96 165 250 / .5)"
                   th:inline="none">
                <br/>
                <!--                <span th:utext="${successMessage}" class="text-success"></span>-->
                <thead class="bg-blue-500/[.7] border-solid border-y-2">
                <tr>
                    <th class="text-white" scope="col">Title</th>
                    <th class="text-white text-center" scope="col">Full Name</th>
                    <th class="text-white text-center" scope="col">Gender</th>
                    <th class="text-white text-center" scope="col">PhoneNumber</th>
                    <th class="text-white text-center" scope="col">Email</th>


                    <th class="text-white text-right" scope="col">Action</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="client : ${clients}">

                    <td class="text-white" th:text="${client.title}"></td>
                    <td class="text-center text-white" th:text="${client.firstName + ' ' + client.lastName}"></td>

                    <td class="text-center text-white" th:text="${client.gender?.name}"></td>
                    <td class="text-center text-white" th:text="${client.phoneNumber}"></td>
                    <td class="text-center text-white" th:text="${client.email}"></td>
                    <td class="text-right"><a class="btn btn-outline-success"
                                              th:href="@{'/clients/view/' + ${client.id}}"><i
                            class=" fa fa-eye" style="color: green"></i></a>
                        <a class="btn btn-info" th:href="@{'/clients/update/' + ${client.id}}"><i
                                class="fa fa-pencil"></i></a></h2>

                        <a class="btn btn-danger"
                           onclick="return confirm('Are you sure you want to delete this!!!!')"
                           th:href="@{'/clients/delete/' + ${client.id}}"><i class="fa fa-trash"></i> </a></h2>

                    </td>


                </tr>
                </tbody>
            </table>


            <script th:inline="none">
                $(document).ready(function () {
                    $('#clientListTable').DataTable();
                });
                $(document).ready(function () {
                    $('#example').DataTable({
                        "clientListTable": [[3, "desc"]]
                    });
                });
            </script>

        </div>
    </div>
</div>
</div>
<div th:include="fragments/footer"></div>
</body>
</html>