<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:include="fragments/header :: showCount(count=${notifications},request=${request},notification=${lNotification})"></th:block>

<div class=" bg-radio-ads bg-cover bg-center ">

    <div class="animated fadeIn bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5]">

        <div class="flex flex-col pt-4 px-8">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row space-x-6">
                    <div class="breadcrumbs">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li class="active">Radio Stations</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class=" mt-2" sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-primary rounded " th:href="@{/radio-stations/add}">Add</a>
                    </div>
                </div>
                <div class="flex  flex-row space-x-6">
                    <a th:href="@{/notifications}">
                        <div class="relative w-fit mt-1">
                            <div class="absolute bottom-auto left-auto right-0 top-0 z-10 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 whitespace-nowrap rounded-full bg-red-500  p-1 text-center align-baseline text-xs font-bold leading-none text-white"
                                 th:if="${notifications}"
                                 th:text="${notifications}">
                            </div>
                            <!--                    <a th:href="@{/notifications}"> <span class="menu-icon mdi mdi-bell"></span></a>-->
                            <div
                                    class=" p-1 rounded-lg bg-indigo-500  text-center text-white shadow-lg dark:text-gray-200">
                                <svg
                                        class="h-4 w-4 text-white"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            clip-rule="evenodd"
                                            d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z"
                                            fill-rule="evenodd"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    <div class="flex  flex-col">
                         <span class=" text-xs text-white text-center bg-blue-500"
                               sec:authentication="authorities[0]">
                         </span>
                        <div class="user-area dropdown  float-right">
                            <div aria-expanded="false" aria-haspopup="true"
                                 class="dropdown-toggle flex flex-col justify-center place-content-center items-center"
                                 data-toggle="dropdown"
                                 href="#" id="dropdownMenuButton">
                                <img alt="User Avatar" class="w-8 h-8 rounded-full" src="/images/user.png">
                                <span class="text-white text-xs" sec:authentication="name"></span>
                            </div>
                            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-left">
                                <a class="dropdown-item" sec:authorize="hasAuthority('ADMIN')" th:href="@{/config}">settings</a>
                                <a class="dropdown-item" th:href="@{/logout}">logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center flex justify-center items-center place-content-center text-xl text-white my-48"
                 th:if="${radioStations.isEmpty()}">
                No items Found
            </div>

            <!-- Radio stations grid -->
            <div class="grid grid-cols-4 gap-4 my-4">
                <div class="bg-white rounded-lg shadow p-4  justify-center items-center place-content-center flex-col flex w-11/12 h-4/5"
                     th:each="radioStation : ${radioStations}">
                    <!-- Station name -->
                    <h2 class="text-sm font-bold mb-2" th:text="${radioStation.name}"></h2>

                    <!-- Station image/logo -->
                    <img alt="Radio Station image" class="w-1/2 h-1/2 object-contain mb-4"

                         th:src="@{${radioStation.imagePath}}"/>
                    <!-- advertise button-->
                    <a class=" bg-transparent hover:bg-blue-500 hover:text-blue-700 text-blue-500 font-bold rounded-lg my-2 p-2 border border-2 border-blue-500 text-sm"
                       th:href="@{'/adverts/add?stationId=' + ${radioStation.id}}"
                       title="Place advert">Advertise</a>
                    <!-- Edit button -->
                    <div class="flex flex-row" sec:authorize="hasAuthority('ADMIN')">
                        <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-1.5 px-3 rounded-lg mr-2"
                           th:href="@{'/radio-stations/update/' + ${radioStation.id}}"
                           title="Edit Station"><i class="fa fa-edit font-medium"></i></a>
                        <!-- Delete button -->
                        <a class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-1.5 px-3 rounded-lg"
                           onclick="return confirm('Are you sure you want to delete this!!!!')"
                           th:href="@{'/radio-stations/delete/' + ${radioStation.id}}"
                           title="Delete Station"><i
                                class="fa fa-trash font-medium"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="h-4" th:include="fragments/footer"></div>

</html>