<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en"
      th:fragment="showCount (count,request,notification)">
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Radio Adverts backend">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.6/index.global.min.js'></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/scss/style.css}">
    <link th:href="@{css/lib/vector-map/jqvmap.min.css}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<!--    toast notification-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="javascript" src="/js/main.js"></script>



    <script type="javascript" src="/js/plugins.js"></script>
    <script type="javascript" src="/js/main.js"></script>

    <script type="javascript" src="/js/dashboard.js"></script>
    <script type="javascript" src="/js/widgets.js"></script>
    <script type="javascript" src="/js/bootstrap.min.js"></script>
    <script type="javascript" src="/js/jquery-3.6.4.min.js">
    </script>
    <script type="javascript" src="/js/popper.min.js" crossorigin="anonymous"></script>
    <!-- Include Bootstrap JS and jQuery from remote -->
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        window.onload = function() {
            // Your code here

            console.log("==================== loaded")
        };
        document.addEventListener('DOMContentLoaded', function () {


            const resources = /*[[${shows}]]*/ "";
            const events = /*[[${adverts}]]*/ "";
            const notification = /*[[${notification}]]*/ null;
            console.log("====================")
            console.log(notification);
            if (notification) {
                if (notification.success) {
                    // Display a success toast notification
                    Toastify({
                        text: notification.success,
                        duration: 3000,
                        // destination: "https://github.com/apvarun/toastify-js",
                        newWindow: true,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: "center", // `left`, `center` or `right`
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                        style: {
                            background: "linear-gradient(to right, #457fca, #5691c8",
                        },
                        onClick: function(){} // Callback after click
                    }).showToast();
                }
                if (notification.error) {
                    // // Display  error toast notification
                    Toastify({
                        text: notification.error,
                        duration: 3000,
                        // destination: "https://github.com/apvarun/toastify-js",
                        newWindow: true,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: "center", // `left`, `center` or `right`
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                        style: {
                            background: "linear-gradient(to right, #EB3349, #F45C43)",
                        },
                        onClick: function(){} // Callback after click
                    }).showToast();
                }
            }
        })
        ;

    </script>

</head>
<body>


<aside id="left-panel" class="left-panel bg-blue-500">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="w-full flex justify-center mt-2">
                <img th:src="@{/img/logo.jpeg}" alt="School logo" class=" w-24 h-24 rounded-full">
            </div>

            <h5 class="text-white my-2 font-italic text-base">Radio Adverts System </h5>
        </div>


            <ul class="nav navbar-nav">

                <li sec:authorize="hasAnyAuthority('ADMIN', 'RADIOSTATION')" class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-300 "
                    th:classappend="${request.requestURI == '/' ? 'active':''}"
                >
                    <!--                <li class="active"  sec:authorize="hasAuthority('ADMIN')">-->
                    <a th:href="@{/}" class="text-base" > <span class="menu-icon mdi mdi-view-dashboard ml-4"></span>Dashboard </a>
                </li>

                <li sec:authorize="hasAnyAuthority('ADMIN', 'RADIOSTATION')" class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-300"
                    th:classappend="${request.requestURI == '/schedule' || request.requestURI == '/schedule/add' ? 'active':''}"
                >
                    <!--                <li class="active"  sec:authorize="hasAuthority('ADMIN')">-->
                    <a th:href="@{/schedule}" class="text-base" > <span class="menu-icon mdi mdi-radio-tower ml-4"></span>On Air</a>
                </li>


                <li sec:authorize="hasAuthority('ADMIN')"  class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-300"
                    th:classappend="${request.requestURI == '/users/list' || request.requestURI == '/users/add' ? 'active':''}"
                >
                    <!--                <li class="active"  sec:authorize="hasAuthority('ADMIN')">-->
                    <a th:href="@{/users/list}" class="text-base" > <span class="menu-icon mdi mdi-account-group ml-4"></span>Users</a>
                </li>

                <li sec:authorize="hasAnyAuthority('ADMIN','ADVERTISER')" class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-300"
                    th:classappend="${request.requestURI == '/radio-stations' || request.requestURI == '/radio-stations/add' ? 'active':''}"
                >
                    <a th:href="@{/radio-stations}" class="text-base" > <span class="menu-icon mdi mdi-radio ml-4"></span>Radio Stations</a>
                </li>

                <li sec:authorize="hasAnyAuthority('ADMIN', 'RADIOSTATION')"  class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-300"
                    th:classappend="${request.requestURI == '/clients/list' || request.requestURI == '/clients/add' ? 'active':''}"
                >
                    <a th:href="@{/clients/list}" class="text-base" > <span class="menu-icon mdi mdi-account-multiple-plus ml-4"></span>Clients</a>
                </li>

                <li class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-300"
                    th:classappend="${request.requestURI == '/payments/list' || request.requestURI == '/payments/add' ? 'active':''}"
                >
                    <a th:href="@{/payments/list}" class="text-base" > <span class="menu-icon mdi mdi-currency-usd ml-4"></span>Payments</a>
                </li>

                <li class="transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-400 duration-300"
                    th:classappend="${request.requestURI == '/adverts/list' || request.requestURI == '/adverts/add' || request.requestURI == '/adverts/schedule' ? 'active':''}"
                >
                    <a th:href="@{/adverts/list}" class="text-base" > <span class="menu-icon mdi mdi-advertisements ml-4"></span>Adverts</a>
                </li>


            </ul>

    </nav>
</aside><!-- /#left-panel -->
</body>
</html>
