<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      th:fragment="showCount (count)">
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Radio Adverts backend">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/scss/style.css}">
    <link th:href="@{css/lib/vector-map/jqvmap.min.css}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <script th:src="@{/js/main.js}"></script>


    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <!--<script th:src="@{/../../static/js/jquery-1.12.3.min.js}"></script>-->

    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/widgets.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/vendor/jquery-2.1.4.min.js}">
    </script>


</head>
<body>


<aside id="left-panel" class="left-panel bg-blue-500">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="w-full flex justify-center mt-2">
                <img th:src="@{/img/logo.jpeg}" alt="School logo" class=" w-24 h-24 rounded-full">
            </div>


            <h5 class="text-white my-2">Radio Adverts System </h5>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav ">

                <li class="active ">
                    <!--                <li class="active"  sec:authorize="hasAuthority('ADMIN')">-->
                    <a th:href="@{/}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>

                <li class="active">
                    <!--                <li class="active"  sec:authorize="hasAuthority('ADMIN')">-->
                    <a th:href="@{/notifications}"> <i class="menu-icon fa fa-bell"></i>Notifications <i
                            th:if="${count}" class="badge bg-danger rounded-circle"><span
                            class="text-center text-capitalize text-white" th:text="${count}"></span></i></a>
                </li>


                <li class="active">
                    <!--                <li class="active"  sec:authorize="hasAuthority('ADMIN')">-->
                    <a th:href="@{/config}"> <i class="menu-icon fa fa-gears"></i>Configurations </a>
                </li>

                <li>
                    <a th:href="@{/logout}"> <i class="menu-icon fa  fa-sign-out"></i>Logout</a>
                </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

</body>
</html>
