
.pc-ribbon-2{
top: -60px;
left:150px;
height:85%
}

.pc-ribbon{
    top: -60px;
    left:100px;
    height:85%
    }

    .laptop{
        top: 5%;
        right:-40%;
 
        }

        .logo{
            top: 0px;
    right:-100px;

     
            }