<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">



            <div class="col-md-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header"><strong>Course</strong>
                        <small> Form</small>
                    </div>
                    <div class="card-body card-block">


                        <form autocomplete="off" class="sky-form" th:object="${course}" method="post"
                              th:action="@{/templates/admin/policy/save}" role="form">
                            <input type="hidden" th:field="*{id}"/>

                            <div class="form-group">
                                <label>Select Department</label>
                                <select class="form-control" th:field="*{department}">
                                    <option value="">----Select----</option>
                                    <option th:each="department : ${departments}"
                                            th:value="${{department.id}}"
                                            th:text="${department.name}">
                                    </option>
                                </select>
                            </div>

                            <!--<div class="form-group">-->
                                <!--<label>Select Lecturer</label>-->
                                <!--<select class="form-control" required="required" th:field="*{user}">-->
                                    <!--<option value="">&#45;&#45;&#45;&#45;Select&#45;&#45;&#45;&#45;</option>-->
                                    <!--<option th:each="user : ${users}"-->
                                            <!--th:value="${{user.id}}"-->
                                            <!--th:text="${user.lastName}">-->
                                    <!--</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <div class="form-group"><label for="name" class=" form-control-label">Course
                                Name</label><input type="text" id="name" name="name" th:field="*{name}"
                                                   placeholder="Enter your course name" class="form-control">
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>

                            <div class="form-group"><label for="courseCode" class=" form-control-label">Course
                                Code</label><input type="text" id="courseCode" name="courseCode" th:field="*{courseCode}"
                                                   placeholder="Enter your course code" class="form-control">
                                <div th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}"></div>
                            </div>


                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>

                        </form>
                        <span th:utext="${successMessage}">

                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>
</div>
<div th:include="fragments/footer"></div>
