<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}"/>

<th:block th:include="fragments/header :: showCount(count=${notifications})"></th:block>

<div class=" bg-radio-ads bg-cover bg-center ">

    <div class="animated fadeIn bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5]">

        <div class="flex flex-col pt-4">
            <div class="flex flex-row justify-between pl-2">
                <div class="breadcrumbs">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li class="active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex pr-4">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:text="${username}"> username</span>
                            <img class="w-8 h-8 rounded-full" src="images/user.png" alt="User Avatar">
                        </a>
                    </div>


                </div>
            </div>

            <main class="p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <a th:href="@{/users/add}"> <i class="fa fa-users"></i></a>
                            <a class="btn btn-primary" th:href="@{/users/list}"> Users</a>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-xs-6">

                                <div class="h4 mb-0">
                                    <span class="count" th:text="${newUsers}"></span>
                                </div>

                                <small class="text-muted text-uppercase font-weight-bold"
                                       style="font-size: 12px;color: blue "> New Users</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-1"
                                     style="width: 40%; height: 5px;"></div>

                            </div>


                            <div class=" col-xs-6">
                                <div class="h4 mb-0">
                                    <span class="count" th:text="${users}"></span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">All
                                    Users</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-2"
                                     style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <a th:href="@{/radio-stations/add}"> <i class="fa fa-radio"></i></a>
                            <a class="btn btn-primary" th:href="@{/radio-stations}">Radio Stations</a>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-xs-6">
                                <div class="h4 mb-0">
                                    <span class="count" th:text="${newRadioStation}"></span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">New
                                    Radio
                                    Station</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-2"
                                     style="width: 40%; height: 5px;"></div>
                            </div>


                            <div class=" col-xs-6">
                                <div class="h4 mb-0">
                                    <span class="count" th:text="${radioStations}"></span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">All
                                    Radio
                                    Stations</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-2"
                                     style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <a th:href="@{/clients/add}"><i class="fa fa-user-plus"></i></a>
                            <a class="btn btn-primary" th:href="@{/clients/list}">Clients</a>
                        </div>

                        <div class="row justify-content-around">
                            <div class="col-xs-6">

                                <div class="h4 mb-0">
                                    <span class="count" th:text="${newClients}"></span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">New
                                    Clients</small>
                                <div class="progress progress-xs mt-3 mb-0 bg-flat-color-2"
                                     style="width: 40%; height: 5px;"></div>

                            </div>


                            <div class=" col-xs-6">
                                <div class="h4 mb-0">
                                    <span class="count" th:text="${clients}"></span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">All
                                    Clients</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-2"
                                     style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <a th:href="@{/payments/add}"> <i class=" fa fa-money"></i></a>
                            <a class="btn btn-primary" th:href="@{/payments/list}"> Payments</a>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-xs-6">

                                <div class="h4 mb-0">
                                    <span class="count" th:text="${newPayments}"></span>
                                </div>

                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">New
                                    Payments</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-1"
                                     style="width: 40%; height: 5px;"></div>

                            </div>


                            <div class=" col-xs-6">
                                <div class="h4 mb-0">
                                    <span class="count" th:text="${payments}"></span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">Total
                                    Payments</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-2"
                                     style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-md">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <a th:href="@{/adverts/add}"> <i class="fa fa-ad"></i></a>
                            <a class="btn btn-primary" th:href="@{/adverts/list}">Adverts</a>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-xs-6">

                                <div class="h4 mb-0">
                                    <span class="count" th:text="${newAdverts}"></span>
                                </div>

                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">New
                                    Adverts</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-1"
                                     style="width: 40%; height: 5px;"></div>

                            </div>


                            <div class=" col-xs-6">
                                <div class="h4 mb-0">
                                    <span class="count" th:text="${adverts}"></span>
                                </div>
                                <small class="text-muted text-uppercase font-weight-bold" style="font-size: 12px">All
                                    Adverts</small>
                                <div class="w-100 progress progress-xs mt-3 mb-0 bg-flat-color-2"
                                     style="width: 40%; height: 5px;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>


    </div>

</div>

<div th:include="fragments/footer"></div>
</html>
