<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <!--    toast notification-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);

            if (urlParams.has("error")) {
                // // Display  error toast notification
                Toastify({
                    text: urlParams.get("error"),
                    duration: 3000,
                    // destination: "https://github.com/apvarun/toastify-js",
                    newWindow: true,
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: "center", // `left`, `center` or `right`
                    stopOnFocus: true, // Prevents dismissing of toast on hover
                    style: {
                        background: "linear-gradient(to right, #EB3349, #F45C43)",
                    },
                    onClick: function () {
                    } // Callback after click
                }).showToast();
            }

        })
        ;

    </script>
</head>
<body>
<div class="flex flex-row min-h-screen bg-login">

    <div
            class="  lg:w-1/2 relative bg-gradient-to-l from-cyan-500/[.8] to-blue-500/[.8]"
    >
        <img alt="Blue background" class="absolute z-0 pc-ribbon" th:src="@{/img/pc-ribbon.png}">
        <img alt="Blue background" class="absolute z-10  pc-ribbon-2" th:src="@{/img/ppc-ribbon-2.png}">
        <img alt="Pc" class="absolute z-20 bottom-0 right-0 2xl:transform 2xl:scale-150" th:src="@{/img/pc.png}">
        <img alt="School logo" class=" absolute logo" th:src="@{/img/logo.jpeg}">
    </div>

    <div class=" w-full  lg:w-1/2 bg-login bg-cover">
        <div
                class=" bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5]"
        >
            <div
                    class="flex flex-col h-screen overflow-y-auto "
            >
                <div
                        class="flex flex-col items-center justify-center flex-1 w-full"
                >
                    <a> </a>
                    <h2
                            class=" mb-4 font-bold leading-9 text-center text-black text-22xl"
                    >
                        Please fill out form to register!
                    </h2>
                    <form class="flex flex-col" method="post" th:action="@{/register/save}"
                          th:object="${userDto}">
                        <div class="flex flex-col">
                            <label class="mb-2 text-sm font-normal  text-black" for="account_type">Account Type</label>
                            <select class="bg-white border w-full border-blue-600 border-solid rounded-full text-start px-3 h-8"
                                    id="account_type"
                                    name="accountTypes"
                                    required="required" th:field="*{role}">
                                <option value="">----Select Type of Account----</option>
                                <option th:each="role : ${roles}"
                                        th:text="${role.name}"
                                        th:value="${{role.id}}">
                                </option>
                            </select>

                        </div>
                        <div class="flex flex-col mt-3">
                            <label class="mb-2 text-sm font-normal  text-black" for="firstName">First Name</label>
                            <input
                                    autofocus="autofocus"
                                    class=" border w-full border-blue-600 border-solid rounded-full text-start px-3 h-8"
                                    id="firstName"
                                    placeholder="Enter your first name"
                                    required
                                    th:field="*{firstName}"
                                    type="text"
                            />
                        </div>
                        <div class="flex flex-col mt-3">
                            <label class="mb-2 text-sm font-normal  text-black" for="last_name">Last Name</label>
                            <input
                                    autofocus="autofocus"
                                    class=" border w-full border-blue-600 border-solid rounded-full text-start px-3 h-8"
                                    id="last_name"
                                    placeholder="Enter your last name"
                                    required
                                    th:field="*{lastName}"
                                    type="text"
                            />
                        </div>
                        <div class="flex flex-col mt-3">
                            <label class="mb-2 text-sm font-normal  text-black" for="email">Email</label>
                            <input
                                    autofocus="autofocus"
                                    class=" border w-full border-blue-600 border-solid rounded-full text-start px-3 h-8"
                                    id="email"
                                    placeholder="Enter your email address"
                                    required
                                    th:field="*{email}"
                                    type="text"
                            />
                        </div>
                        <div class="flex flex-col mt-3">
                            <label class="mb-2 text-sm font-normal  text-black" for="password">Password</label>
                            <input
                                    autofocus="autofocus"
                                    class="border w-full border-blue-600 border-solid rounded-full text-start px-3 h-8"
                                    id="password"
                                    placeholder="Enter password"
                                    required
                                    th:field="*{password}"
                                    type="password"
                            />
                        </div>
                        <div class="flex flex-col mt-3">
                            <label class="mb-2 text-sm font-normal  text-black" for="confirmPassword">Confirm
                                Password</label>
                            <input
                                    autofocus="autofocus"
                                    class="border w-full border-blue-600 border-solid rounded-full text-start px-3 h-8"
                                    id="confirmPassword"
                                    placeholder="Confirm your password"
                                    required
                                    th:field="*{confirmPassword}"
                                    type="password"
                            />
                        </div>
                        <button class="mt-8 mb-6 bg-blue-600 rounded-full h-8 text-white text-sm border  border-white hover:bg-blue-500 hover:border-blue-600"
                                type="submit">Submit
                        </button>
                        <label class="font-light text-sm text-center  text-black">Already have an account? <a
                                th:href="@{/login}"> <span class="font-medium">Login</span></a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


<!--<script th:inline="none">-->
<!--    $(document).ready(function () {-->
<!--        $('#profilePhoto').change(function () {-->
<!--            showImageThumbnail(this);-->
<!--        })-->
<!--    });-->

<!--    function showImageThumbnail(fileInput) {-->
<!--        file = fileInput.files[0];-->
<!--        reader = new FileReader();-->

<!--        reader.onload = function (e) {-->
<!--            $('#thumbnail').attr('src',e.target.result);-->

<!--        };-->
<!--        reader.readAsDataURL(file);-->


<!--    }-->

<!--</script>-->

</body>
</html>