<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header :: showCount(count=${notifications},request=${request})"></th:block>

<div class=" bg-radio-ads bg-cover bg-center min-h-screen">
    <div class="animated fadeIn bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5] h-full">
        <div class="flex flex-col pt-4 px-8">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row space-x-4">
                    <div class="breadcrumbs">

                        <div class="page-header float-left">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li class="active">Adverts</li>
                                </ol>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="flex flex-row pr-4">
                    <div class="user-area dropdown  float-right">
                        <div aria-expanded="false" aria-haspopup="true"
                             class="dropdown-toggle flex flex-col justify-center place-content-center items-center"
                             data-toggle="dropdown"
                             href="#" id="dropdownMenuButton">
                            <img alt="User Avatar" class="w-8 h-8 rounded-full" src="/images/user.png">
                            <span th:text="${username}"></span>
                        </div>
                        <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-left">
                            <a class="dropdown-item" th:href="@{/config}">settings</a>
                            <a class="dropdown-item" th:href="@{/logout}">logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center place-content-center ">

                <div class="col-lg-8 bg-white p-4 rounded-lg shadow-md my-8">
                    <div class="card">
                        <div class="card-header bg-white text-center"><strong>Add Advert </strong>
                        </div>
                        <div class="card-body card-block">


                            <form advert="form" autocomplete="off" class="sky-form" method="post" name="form"
                                  th:action="@{/adverts/save}" th:object="${advert}">


                                <div class="form-group"><label class=" form-control-label" for="name"> Name
                                </label><input class="form-control" id="name" name="name" placeholder="Enter the name of advert"
                                               required="" th:field="*{name}" type="text">
                                    <div th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
                                </div>

                                <div class="form-group"><label class=" form-control-label" for="name"> Description
                                </label><input class="form-control" id="description" name="description" placeholder="Enter the description of the advert"
                                               required="" th:field="*{description}"
                                               type="text">
                                    <div th:errors="*{description}" th:if="${#fields.hasErrors('name')}"></div>
                                </div>

                                <div class="form-group" id="station" >
                                    <label>Select Radio Station</label>
                                    <select class="form-control"  th:field="*{radioStation}">
                                        <option value="">----Select a Radio Station----</option>
                                        <option th:each="radioStation : ${radioStations}"
                                                th:text="${radioStation.name}"
                                                th:value="${{radioStation}}">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Select Type of advert</label>
                                    <select class="form-control" required="required" th:field="*{advertType}">
                                        <option value="">----Select----</option>
                                        <option th:each="type : ${advertTypes}"
                                                th:text="${type.name}"
                                                th:value="${{type}}">
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group"><label class=" form-control-label" for="url"> Url
                                </label><input class="form-control" id="url" name="url" placeholder="Enter the url where advert has been posted"
                                               th:field="*{url}"
                                               type="text">
                                    <div th:errors="*{url}" th:if="${#fields.hasErrors('url')}"></div>
                                </div>


                                <div class="card-footer flex flex-row justify-center space-x-4 bg-white">
                                    <button class="btn btn-primary btn-sm rounded" type="submit">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button class="btn btn-danger btn-sm rounded" type="reset">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>

                            </form>
                            <!--                        <span th:utext="${successMessage}"></span>-->

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<div th:include="fragments/footer"></div>
</html>