
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="breadcrumbs">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Adverts List</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Advert List </a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ">
                <a class="btn btn-primary rounded " th:href="@{/adverts/add}">New Advert</a>
            </div>

            <br/>
            <br/>


            <table id="advertListTable" th:inline="none" cellspacing="0" width="100%" class="table table-striped">
                <br/>
<!--                <span th:utext="${successMessage}" class="text-success"></span>-->
<!--                <thead>-->
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Advert Type</th>
                    <th scope="col">Url</th>

                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="advert : ${adverts}">
                    <td th:text="${advert.name}"></td>
                    <td th:text="${advert.description}"></td>
                    <td th:text="${advert.advertType}"></td>
                    <td><a th:href="@{'/adverts/update/' + ${advert.id}}" class="btn btn-outline-info"><i class="fa fa-pencil"></i></a>

                    <a th:href="@{'/adverts/delete/' + ${advert.id}}"
                           onclick="return confirm('Are you sure you want to delete this!!!!')" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                    </td>


                </tr>
                </tbody>
            </table>


            <script th:inline="none">
                $(document).ready(function () {
                    $('#advertListTable').DataTable();
                });
                $(document).ready(function () {
                    $('#example').DataTable({
                        "advertListTable": [[3, "desc"]]
                    });
                });
            </script>

        </div>
    </div>
</div>
</div>
<div th:include="fragments/footer"></div>
</html>