<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">



            <div class="col-md-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header"><strong>Claim</strong>
                        <small> Form</small>
                    </div>
                    <div class="card-body card-block">


                        <form autocomplete="off" class="sky-form" name="form" th:object="${claim}" method="post"
                              th:action="@{/claims/save}" role="form">
<!--                            <input type="hidden" th:field="*{id}"/>-->


                            <div class="form-group">
                                <label>Select Policy</label>
                                <select class="form-control" required="required" th:field="*{policyNumber}">
                                    <option value="">----Select A Policy----</option>
                                    <option th:each="cover : ${policyCovers}"
                                            th:value="${{cover.policyNumber}}"
                                            th:text="${cover.getPolicy().name }">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group"><label for="description" class=" form-control-label">Description
                            </label><input type="text" id="description" name="description" th:field="*{description}"
                                           required=""         placeholder="Enter policy description" class="form-control">
                                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                            </div>

                            <div class="form-group"><label for="amount" class=" form-control-label">Amount
                            </label><input type="text" id="amount" name="amount" th:field="*{amount}"
                                           required=""         placeholder="Enter Amount" class="form-control">
                                <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                            </div>






                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>

                        </form>
<!--                        <span th:utext="${successMessage}"></span>-->

                    </div>
                </div>


            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>
</div>
<div th:include="fragments/footer"></div>
</html>