<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header :: showCount(count=${notifications},request=${request})"></th:block>

<div class=" bg-radio-ads bg-cover bg-center h-screen">
    <div class="animated fadeIn bg-gradient-to-l from-cyan-500/[.5] to-blue-500/[.5] h-full">
        <div class="flex flex-col pt-4 px-8">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row space-x-4">
                    <div class="breadcrumbs">

                        <div class="page-header float-left">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li class="active">Roles</li>
                                </ol>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="flex flex-row pr-4">
                    <div class="user-area dropdown  float-right">
                        <div aria-expanded="false" aria-haspopup="true"
                             class="dropdown-toggle flex flex-col justify-center place-content-center items-center"
                             data-toggle="dropdown"
                             href="#" id="dropdownMenuButton">
                            <img alt="User Avatar" class="w-8 h-8 rounded-full" src="/images/user.png">
                            <span th:text="${username}"></span>
                        </div>
                        <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-left">
                            <a class="dropdown-item" th:href="@{/config}">settings</a>
                            <a class="dropdown-item" th:href="@{/logout}">logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center place-content-center ">

            <div class="col-lg-8 bg-white p-4 rounded-lg shadow-md mt-8">
                <div class="card">
                    <div class="card-header bg-white text-center"><strong>Add Role </strong>

                    </div>
                    <div class="card-body card-block">


                        <form autocomplete="off" class="sky-form" name="form" th:object="${role}" method="post"
                              th:action="@{/config/roles}" role="form">



                            <div class="form-group"><label for="name" class=" form-control-label"> Name
                            </label><input type="text" id="name" name="name" th:field="*{name}"
                                           required=""         placeholder="Enter Name of role" class="form-control">
                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            </div>

                            <div class="flex flex-row justify-center space-x-4 card-footer">
                                <button type="submit" class="btn btn-primary btn-sm rounded">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm rounded">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>

                        </form>
                        <!--                        <span th:utext="${successMessage}"></span>-->

                    </div>
                </div>


            </div>

        </div>

    </div>
</div>
</div>
<div th:include="fragments/footer"></div>
</html>